/* 

   Theme Toggle Button 

*/
.settings-view{
  background-color: white;
  position: absolute;
  bottom: 1%;
  left: 1%;
  border-radius: 100vmax;
  height: 40px;
  width: 40px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  transition: all .5s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

button.settings{
  position: relative;
  outline: none;
  border: none;
  background-color: white;
  transition: all .5s;
}
.settings img{
  width: 40px;
  height: 100%;
}


.theme-modes{
    width: 100%;
    cursor: pointer;
    padding: 0rem .3rem .3rem .3rem;
}

.edit-btn-img{
  width: 40px;
  background-color: white;
  border-radius: 100%;
  transition: scale .4s;
}


/* Animations hai idhr  */

.settings-view:hover{
  width: 130px;
}

.settings:hover{
  scale: .8;
}

.settings:hover,
.theme-modes:hover{
  animation: rotate .4s forwards;
}

.edit-btn-img:hover{
  scale: .9;
  cursor: pointer;
}

@keyframes rotate{
  to{
    transform: rotateZ(90deg);
  }
}


/* Base styles for the button */
#theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #f5f5f5; /* Light mode background */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Icons within the button */
  #theme-toggle span {
    display: none;
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  /* Light mode styles */
  body.light #theme-toggle {
    background-color: #f5f5f5;
  }
  
  body.light #theme-toggle .sun-icon {
    display: block;
  }
  
  /* Dark mode styles */
  body.dark #theme-toggle {
    background-color: #333;
  }
  
  body.dark #theme-toggle .moon-icon {
    display: block;
  }
  
  /* Icon styles (replace with your icons) */
  .sun-icon {
    background-image: url("../img/icons/sun.svg");
    scale: 1.5;
}

.moon-icon {
    background-image: url("../img/icons/moon.svg");
    scale: 1.5;
  }
  